@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-show {
    @apply translate-y-0;
}


.trib {
    filter: invert(92%) sepia(2%) saturate(571%) hue-rotate(330deg) brightness(87%) contrast(93%);
}

.nav-link.active, .nav-link.active:hover {
    color: hsla(26,28%,95%,.9);
}

.nav-link {
    color: hsla(26,28%,95%,.5);
}

.nav-link:not(.disabled):hover {
    color: hsla(26,28%,95%,.7);
}

.linear-progress {
    background: #ffffff30;/*hsla(26,28%,95%,.3);*/
    height: 1px;
    overflow: hidden;
    position: relative;
}

.countertest:after {
    content: var(--blazor-load-percentage-text);
}

.linear-progress:after {
    content: '';
    position: absolute;
    inset: 0;
    background: white; /*hsla(26,28%,95%,.9);*/
    scale: var(--blazor-load-percentage, 0%) 100%;
    transform-origin: left top;
    transition: scale ease-out 0.5s;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 30s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

.haha {
    background-image: url("../media/newtribal.svg");
    background-size: 90% auto; /*was 90% auto*/
    background-repeat: no-repeat;
    background-position: top;
    opacity: 100%;
    content:"";
    -webkit-animation: tribal-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
    -moz-animation: tribal-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
    animation: tribal-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
 }
  
nav li > a > span {
    width: max-content;
    white-space: nowrap;
    margin: 0;
  }
  
  nav .text-slideup {
    /*animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;*/
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: both;
    -webkit-animation-name: slide-up;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-animation-fill-mode: both;
    -moz-animation-name: slide-up;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    -moz-animation-fill-mode: both;
  }

    .animation-delay-0 {
        animation-delay: 0s;
    }

  .animation-delay-1 {
    animation-delay: 0.05s;
  }

    .animation-delay-2 {
        animation-delay: 0.1s;
    }

    .animation-delay-3 {
        animation-delay: 0.15s;
    }

    .animation-delay-4 {
        animation-delay: 0.2s;
    }


  
  @keyframes slide-up {
    0% {
      transform: translateY(3.75rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .opacity-fade {
    animation-name: opacity-fade;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    -webkit-animation-name: opacity-fade;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: opacity-fade;
    -moz-animation-duration: 0.1s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;
  }

    @keyframes opacity-fade {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }


html {
   background: black; /*#2a2d31;*/
   color: white;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

body {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
}

.tribal-img {
   background-image: url("../media/tribal-img.svg");
   background-size: auto 140%;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert(1) blur(1px);
   opacity: 50%;
   content:"";
}

.tribal-img-new {
    background-image: url("../media/tribal-img.svg");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(12%) sepia(19%) saturate(489%) hue-rotate(51deg) brightness(89%) contrast(81%) opacity(50%);
    /*filter: invert(1);*/
    opacity: 100%;
    content:"";
 }

.tribal-icon {
    filter: invert(75%) sepia(12%) saturate(261%) hue-rotate(31deg) brightness(88%) contrast(87%);
}

@layer components {
    .btn-ghost {
        @apply bg-transparent;
        @apply text-[hsla(26,28%,95%,.7)];
        @apply border-[1px];
        @apply border-[hsla(26,28%,95%,.2)];
    }
        
    .btn-ghost:hover {
        @apply bg-[#00000050];
        @apply border-[1px];
        @apply border-[hsla(26,28%,95%,.2)];
        @apply text-[hsla(26,28%,95%,.7)];
    }

    .input-search, .input-search:focus {
        @apply bg-[#2d312a];
        @apply border-none;
    }

    .input-search > input::placeholder, .input-search > i {
        @apply text-[hsla(26,28%,95%,.9)];
    }

    .input-nav {
        @apply text-[hsla(26,28%,95%,.7)];
        @apply bg-[#2d312a];
        @apply border-none;
        @apply text-xs;
        @apply sharp-grotesk-book;
    }

}

.post-preview:hover h2 {
   text-decoration: underline;
}

.bg-animate {
    background-size: 500%;
    -webkit-animation: animation 600s linear infinite;
    -moz-animation: animation 600s linear infinite;
    animation: animation 180s linear infinite;
}

.blur-animate {
    background-size: 500%;
    -webkit-animation: animationfast 600s linear infinite;
    -moz-animation: animationfast 600s linear infinite;
    animation: animationfast 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
}

.text-blur {
   -webkit-animation: text-blur-animation 12s linear infinite;
   -moz-animation: text-blur-animation 12s linear infinite;
   animation: text-blur-animation 12s linear infinite;
   background-image: url("../media/abstract-light-blue-background-luxury-cloth(1).jpg");
   width: 100%;
   height: 100%;
   display: inline-block;
}

mark {
   overflow:hidden;
}

mark:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://jschoolmeesters.github.io/BlazorPortfolio/media/abstract-light-blue-background-luxury-cloth(1).jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 500%;
  -webkit-animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
  -moz-animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
  animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
}

/* ANIMATION TIMINGS */

@keyframes bg-pos-animation {
    0%,
    100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

@keyframes bg-blur-animation {
    0%,
    100% {
         filter: blur(7px);
    }
    50% {
        filter: blur(4px);
    }
}

@keyframes text-blur-animation {
    0% {
         filter: blur(1px);
    }
    50% {
         filter: blur(0px);
    }
    100% {
         filter: blur(1px);
    }
}

@keyframes tribal-animation {
    0% {
        filter: brightness(200%);
    }
    50% {
        filter: brightness(150%);
    }
    100% {
        filter: brightness(200%);
    }
}

@keyframes wrapper-sat-animation {
    0% {
         filter: saturate(2);
    }
    100% {
         filter: saturate(4);
    }
}

/* FONTS */

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sharp-grotesk-medium {
    font-family: sharpGroteskMedium, sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.sharp-grotesk-medium {
    font-family: "Sharp Grotesk Medium", sans-serif;
}

.sharp-grotesk-medium-italic {
    font-family: "Sharp Grotesk Medium Italic", sans-serif;
}

.sharp-grotesk-book {
    font-family: "Sharp Grotesk Book", sans-serif;
}

.sharp-grotesk-semibold {
    font-family: "Sharp Grotesk SemiBold", sans-serif;
}


@font-face {
    font-family: "Sharp Grotesk Book";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Book22.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Grotesk Medium";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Medium22.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Grotesk Medium Italic";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/MediumItalic22.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Grotesk SemiBold";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Black10.ttf");
    font-weight: 600;
    font-style: normal;
}

.fk-grotesk-neue-medium {
    font-family: "FK Grotesk Neue Medium", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "FK Grotesk Neue", sans-serif;
}

.something {
    font-family: "FK Grotesk Neue Medium", sans-serif;
}

@font-face {
    font-family: "FK Grotesk Neue Medium";
    src: url(".wwwroot/fonts/FK Grotesk Neue Trial/FKGroteskNeueTrial-Medium.otf");
    font-weight: 500;
    font-style: medium;
}

.fk-grotesk-neue-light {
    font-family: "FK Grotesk Neue Light", sans-serif;
}

@font-face {
    font-family: "FK Grotesk Neue Light";
    src: url(".wwwroot/fonts/FK Grotesk Neue Trial/FKGroteskNeueTrial-Light.otf");
    font-weight: 300;
    font-style: light;
}

.fk-raster-grotesk-compact-blended {
    font-family: "FK Raster Grotesk Compact Blended", sans-serif;
}

@font-face {
    font-family: "FK Raster Grotesk Compact Blended";
    src: url("../fonts/FK Raster Grotesk Trial/FKRasterGroteskCompactTrial-Blended.otf");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "FK Grotesk Neue", sans-serif;
}

.fk-grotesk-neue {
    font-family: "FK Grotesk Neue", sans-serif;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("../fonts/FK Grotesk Neue Trial/fk-grotesk-neue-regular.woff2");
    font-weight: 400;
    font-style: normal;
}