@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vh: '0px';
}

.content {
    position: relative;
    --before-y-percent: 100%;
    /*overflow: hidden;*/
}

.content::before {
    transform: translateY(var(--before-y-percent));
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    @apply dark:bg-black;
    @apply bg-white;
    z-index: -1;
}

.leading-tighter {
    line-height: 1.05;
}



ul.arrow-list  {
    list-style-image: url(../media/arrow-down-right.svg);
}

ul.arrow-list li {
    @apply pl-6;
}


.ani-box {
    position: relative;
    --before-y-percent: 0%;
    overflow: hidden;
}

.ani-box::before {
    transform: translateY(var(--before-y-percent));
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    @apply dark:bg-black;
    z-index: 1;
}

.square {
    @apply inline-block;
    @apply h-[0.6rem];
    @apply w-[0.6rem];
    @apply dark:bg-white;
    @apply bg-black;
}

.h-fullvh {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.min-h-fullvh {
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
}

.mt-1\/4vh {
    margin-top: calc(calc(100vh - 4.75rem) / 4); /* Fallback for browsers that do not support Custom Properties */
    margin-top: calc(calc(calc(var(--vh, 1vh) * 100) - 4.75rem) / 4);
}

.content-percentage::after {
    content: calc(var(--blazor-load-percentage) * 1);
}

.img-filter {
    filter: sepia(49%) saturate(207%) hue-rotate(45deg) brightness(117%) contrast(92%);
}

.hero {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: auto;
}

/* BEGIN GSAP */

.gsap-lines {
    @apply relative;
    @apply block;
}

.gsap-line {
    @apply overflow-hidden;
}

.gsap-line-inner {
    @apply relative;
    @apply block;
}

/* END GSAP */

/*
main {
    transition: opacity 0.1s ease-in;
    opacity:0;
}

main.loaded {
    opacity:1;
}
*/

/* BEGIN Lenis */

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

/* END Lenis */

/* BEGIN Post progress bar */

.progress-segment {
    @apply h-1;
    @apply bg-stone-300;
    @apply dark:bg-stone-500;
    flex: 1;
    -webkit-box-flex: 4;
    -ms-flex: 4;
    -webkit-transition: all .6s cubic-bezier(.645,.045,.355,1);
    transition: all .6s cubic-bezier(.645,.045,.355,1);
}

.progress-segment.active {
    flex: 4;
}

.progress-segment.fill {
    @apply bg-stone-400;
    @apply dark:bg-stone-400;
}

/* END Post progress bar */


/* BEGIN Markdown styling */

article h1, article h2, article h3, article h4, article h5, article h6,
article p, article a, article ul, article ol, article li, article blockquote {
    @apply tracking-[-0.035em];
    @apply leading-none;
    @apply my-3;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    @apply mt-7;
    @apply mb-3;
}

article p, article p > code, article a, article ul, article ol, article li, article blockquote {
    @apply text-lg;
}

article h1 {
    @apply text-4xl;
}

article h2 {
    @apply text-3xl;
    @apply border-b-2;
    @apply border-stone-300;
    @apply dark:border-stone-600;
    @apply pb-2;
}

article h3 {
    @apply text-2xl;
}

article h4 {
    @apply text-xl;
}

article h5 {
    @apply text-lg;
}

article ul {
    @apply list-disc;
    @apply pl-4;
}

article ol {
    @apply list-decimal;
    @apply pl-4;
}

article code {
    @apply bg-stone-800;
    @apply text-stone-300;
    @apply rounded;
    @apply px-1;
}

article pre > code {
    @apply p-3;
    @apply block;
    @apply w-full;
}

article a {
    @apply text-[#1e62f2];
    @apply dark:text-[#437cf4];
    @apply underline;
    @apply rounded;
    @apply px-1.5;
}

article a > i {
    @apply text-stone-600;
    @apply dark:text-stone-300;
    @apply align-middle;
}

article ul > li::marker, article ol > li::marker {
    @apply text-stone-400;
    @apply dark:text-stone-600;
}

article ul > li, article ol > li {
    @apply text-black;
    @apply dark:text-white;
}

article p > a, article ul > li > a, article ol > li > a {
    @apply px-1;
}

article p > a > i, article ul > li > a > i, article ol > li > a {
    @apply text-sm;
    @apply ml-1;
}

/* END Markdown styling*/



.trib {
    filter: invert(92%) sepia(2%) saturate(571%) hue-rotate(330deg) brightness(87%) contrast(93%);
}

.nav-link > span {
    @apply kmr-apparat-medium;
}

nav .active > .nav-link-icon::after {
    content: "←";
}

.linear-progress {
    /*background: #ffffff30;hsla(26,28%,95%,.3);*/
    height: 2px;
    overflow: hidden;
    position: relative;
}

.countertest:after {
    content: var(--blazor-load-percentage-text);
}

.linear-progress:after {
    height: 100%;
    content: '';
    position: absolute;
    inset: 0;
    @apply bg-neutral-800; /*hsla(26,28%,95%,.9);*/
    scale: var(--blazor-load-percentage, 0%) 100%;
    transform-origin: left top;
    transition: scale ease-out 0.5s;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 30s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

  .opacity-fade {
    animation-name: opacity-fade;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    -webkit-animation-name: opacity-fade;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: opacity-fade;
    -moz-animation-duration: 0.1s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;
  }

    @keyframes opacity-fade {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }


html {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

body {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
}

.tribal-img {
   background-image: url("../media/tribal-img.svg");
   background-size: auto 140%;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert(1) blur(1px);
   opacity: 50%;
   content:"";
}

.tribal-img-new {
    background-image: url("../media/tribal-img.svg");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(12%) sepia(19%) saturate(489%) hue-rotate(51deg) brightness(89%) contrast(81%) opacity(50%);
    /*filter: invert(1);*/
    opacity: 100%;
    content:"";
 }

.tribal-icon {
    filter: invert(75%) sepia(12%) saturate(261%) hue-rotate(31deg) brightness(88%) contrast(87%);
}

@layer components {
    .btn-ghost {
        @apply bg-transparent;
        @apply text-[hsla(26,28%,95%,.7)];
        @apply border-[1px];
        @apply border-[hsla(26,28%,95%,.2)];
    }
        
    .btn-ghost:hover {
        @apply bg-[#00000050];
        @apply border-[1px];
        @apply border-[hsla(26,28%,95%,.2)];
        @apply text-[hsla(26,28%,95%,.7)];
    }

    .input-search, .input-search:focus {
        @apply bg-transparent;
        @apply border-none;
    }

    .input-search > input::placeholder, .input-search > i {
        color: red;
    }

    .input-nav {
        @apply text-[hsla(26,28%,95%,.7)];
        @apply bg-[#2d312a];
        @apply border-none;
        @apply text-xs;
        @apply sharp-grotesk-book;
    }

}

.post-preview:hover h2 {
   text-decoration: underline;
}

.bg-animate {
    background-size: 500%;
    -webkit-animation: animation 600s linear infinite;
    -moz-animation: animation 600s linear infinite;
    animation: animation 180s linear infinite;
}

.blur-animate {
    background-size: 500%;
    -webkit-animation: animationfast 600s linear infinite;
    -moz-animation: animationfast 600s linear infinite;
    animation: animationfast 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
}

.text-blur {
   -webkit-animation: text-blur-animation 12s linear infinite;
   -moz-animation: text-blur-animation 12s linear infinite;
   animation: text-blur-animation 12s linear infinite;
   background-image: url("../media/abstract-light-blue-background-luxury-cloth(1).jpg");
   width: 100%;
   height: 100%;
   display: inline-block;
}

mark {
   overflow:hidden;
}

mark:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://jschoolmeesters.github.io/BlazorPortfolio/media/abstract-light-blue-background-luxury-cloth(1).jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 500%;
  -webkit-animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
  -moz-animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
  animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
}

/* ANIMATION TIMINGS */

@keyframes bg-pos-animation {
    0%,
    100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

@keyframes bg-blur-animation {
    0%,
    100% {
         filter: blur(7px);
    }
    50% {
        filter: blur(4px);
    }
}

@keyframes text-blur-animation {
    0% {
         filter: blur(1px);
    }
    50% {
         filter: blur(0px);
    }
    100% {
         filter: blur(1px);
    }
}

@keyframes tribal-animation {
    0% {
        filter: brightness(200%);
    }
    50% {
        filter: brightness(150%);
    }
    100% {
        filter: brightness(200%);
    }
}

@keyframes wrapper-sat-animation {
    0% {
         filter: saturate(2);
    }
    100% {
         filter: saturate(4);
    }
}

/* FONTS */

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sharp-grotesk-medium {
    font-family: sharpGroteskMedium, sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.sharp-grotesk-medium {
    font-family: "Sharp Grotesk Medium", sans-serif;
}

.sharp-grotesk-medium-italic {
    font-family: "Sharp Grotesk Medium Italic", sans-serif;
}

.sharp-grotesk-book {
    font-family: "Sharp Grotesk Book", sans-serif;
}

.sharp-grotesk-semibold {
    font-family: "Sharp Grotesk SemiBold", sans-serif;
}


@font-face {
    font-family: "Sharp Grotesk Book";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Book22.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Grotesk Medium";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Medium22.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Grotesk Medium Italic";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/MediumItalic22.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Grotesk SemiBold";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Black10.ttf");
    font-weight: 600;
    font-style: normal;
}

.fk-grotesk-neue-medium {
    font-family: "FK Grotesk Neue Medium", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: "FK Grotesk Neue", sans-serif;
}

.something {
    font-family: "FK Grotesk Neue Medium", sans-serif;
}

@font-face {
    font-family: "FK Grotesk Neue Medium";
    src: url(".wwwroot/fonts/FK Grotesk Neue Trial/FKGroteskNeueTrial-Medium.otf");
    font-weight: 500;
    font-style: medium;
}

.fk-grotesk-neue-light {
    font-family: "FK Grotesk Neue Light", sans-serif;
}

@font-face {
    font-family: "FK Grotesk Neue Light";
    src: url(".wwwroot/fonts/FK Grotesk Neue Trial/FKGroteskNeueTrial-Light.otf");
    font-weight: 300;
    font-style: light;
}

.fk-raster-grotesk-compact-blended {
    font-family: "FK Raster Grotesk Compact Blended", sans-serif;
}

@font-face {
    font-family: "FK Raster Grotesk Compact Blended";
    src: url("../fonts/FK Raster Grotesk Trial/FKRasterGroteskCompactTrial-Blended.otf");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "FK Grotesk Neue", sans-serif;
}

.fk-grotesk-neue {
    font-family: "FK Grotesk Neue", sans-serif;
}

@font-face {
    font-family: "FK Grotesk Neue";
    src: url("../fonts/FK Grotesk Neue Trial/fk-grotesk-neue-regular.woff2");
    font-weight: 400;
    font-style: normal;
}

.helvetica-neue-medium {
    font-family: "Helvetica Neue Medium", sans-serif;
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src:  url('../fonts/Helvetica Neue/HelveticaNeue-Medium.woff2') format('woff2'), 
          url('../fonts/Helvetica Neue/HelveticaNeue-Medium.woff') format('woff'), 
          url('../fonts/Helvetica Neue/HelveticaNeue-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.new-edge-666 {
    font-family: "New Edge 666", 'Times New Roman', serif;
    /*font-variation-settings: "wght" 400, "crrr" 0, "ital" 0;*/
}

@font-face {
    font-family: "New Edge 666";
    src: url('../fonts/New Edge 666/NewEdge666.ttf');
    font-weight: 300;
    font-style: normal;
}

.ballinger {
    font-family: "Ballinger", sans-serif;
}

@font-face {
    font-display: auto;
    font-family: "Ballinger";
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    src: url(https://use.typekit.net/af/83d7d7/00000000000000007735e8ab/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/83d7d7/00000000000000007735e8ab/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/83d7d7/00000000000000007735e8ab/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype")
}

.serifbabe-italic {
    font-family: "Serifbabe Italic", sans-serif;
}

@font-face {
    font-display: auto;
    font-family: "Serifbabe Italic";
    font-stretch: normal;
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/SerifBabe/Serifbabe-Regular.woff2');

}

/* add wwwroot\fonts\KMR-Apparat\KMR-Apparat-Heavy.otf */

.kmr-apparat-heavy {
    font-family: "KMR Apparat Heavy", sans-serif;
}

@font-face {
    font-family: "KMR Apparat Heavy";
    src: url("../fonts/KMR-Apparat/KMR-Apparat-Heavy.otf");
    font-weight: 600;
    font-style: normal;
}

/* add kmr apparat bold */

.kmr-apparat-bold {
    font-family: "KMR Apparat Bold", sans-serif;
}

@font-face {
    font-family: "KMR Apparat Bold";
    src: url("../fonts/KMR-Apparat/KMR-Apparat-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

/* also add Book and Medium */

.kmr-apparat-book {
    font-family: "KMR Apparat Book", sans-serif;
}

@font-face {
    font-family: "KMR Apparat Book";
    src: url("../fonts/KMR-Apparat/KMR-Apparat-Book.woff");
    font-weight: 400;
    font-style: normal;
}

.kmr-apparat-medium {
    font-family: "KMR Apparat Medium", sans-serif;
}

@font-face {
    font-family: "KMR Apparat Medium";
    src: url("../fonts/KMR-Apparat/KMR-Apparat-Medium.woff");
    font-weight: 500;
    font-style: normal;
}

/* 
Fix to prevent FocusOnNavigate in App.razor from adding outline to the first h1 on a page
https://www.reddit.com/r/Blazor/comments/xl09d8/blazor_h1_element_is_focused_on_startup_for_no/
*/
h1:focus {
    outline: none;
}