<div class="w-full border-t leading-[1.2]">
    <div class="py-3 flex justify-between items-center cursor-pointer" @onclick="ToggleContent">
        <h2 class="text-3xl">@Title</h2>
        <button class="transition">
            <span class="text-3xl">@(isExpanded ? "−" : "+")</span>
        </button>
    </div>
    @if (isExpanded)
    {
        <div class="pb-3 space-y-3">
            @ChildContent
        </div>
    }
</div>

@code {
    private bool isExpanded = false;
    [Parameter]
    public string Title { get; set; } = "[Undefined]";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void ToggleContent()
    {
        isExpanded = !isExpanded;
    }
}
