@inject NavigationManager NavigationManager

<div class="pt-3 w-full flex flex-col gap-y-12">
    <div class="flex flex-row w-full">
        <ul class="flex-1 w-1/2 gap-y-0">
            <li><a class="text-lg tracking-[-0.035em] leading-none cursor-pointer">Vemo™</a></li>
            <li><a class="text-lg tracking-[-0.035em] leading-none">Westhoven 7</a></li>
            <li><a class="text-lg tracking-[-0.035em] leading-none">1234AB, Roermond</a></li>
        </ul>
        <ul class="flex-1 w-1/2 gap-y-0">
            <li><a class="text-lg tracking-[-0.035em] leading-none">hello@vemo.studio</a></li>
            <li><a class="text-lg tracking-[-0.035em] leading-none">+31 6 12345678</a></li>
            <li><a class="text-lg tracking-[-0.035em] leading-none" href="https://strava.app.link/6NGhlQ5sdKb">KVK 12345678</a></li>
        </ul>
    </div>
    <div class="flex flex-row w-full">
        <ul class="flex-1 w-1/2 gap-y-0">
            <li><a class="text-lg tracking-[-0.035em] leading-none">© 2022 Vemo™</a></li>
        </ul>
        <ul class="flex-1 w-1/2 gap-y-0">
            <li class="flex flex-row">
                <a class="underline text-lg leading-none tracking-[-0.015em]">Instagram</a>
                <span class="text-lg leading-none tracking-[-0.015em]">,&nbsp;</span>
                <a class="underline text-lg leading-none tracking-[-0.015em]">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>

@code {
    private string Sheep = "_dgYn#hX]ddacZZhiZgh5gj#ca";
    private string HappySheep {
        get => new string(Sheep.Select(c => (char)(c + 11)).ToArray());
    }
}