@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   background: #2a2d31;
   font-family: open-sans-400 !important;
}

body {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
}

.tribal-img {
   background-image: url("../media/tribal-img.svg");
   background-size: auto 140%;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert(1) blur(1px);
   opacity: 50%;
   content:"";
}

.tribal-icon {
    filter: invert(75%) sepia(12%) saturate(261%) hue-rotate(31deg) brightness(88%) contrast(87%);
}

@layer components {
    .btn-ghost {
        @apply bg-transparent;
        @apply text-[hsla(26,28%,95%,.7)];
        @apply border-[1px];
        @apply border-[hsla(26,28%,95%,.2)];
    }
        
    .btn-ghost:hover {
        @apply bg-[#00000050];
        @apply border-[1px];
        @apply border-[hsla(26,28%,95%,.2)];
        @apply text-[hsla(26,28%,95%,.7)];
    }

    .input-search, .input-search:focus {
        @apply bg-[#DFDCD9];
        @apply border-none;
    }

    .input-search > input::placeholder, .input-search > i {
        @apply text-[hsla(26,28%,5%,.5)];
    }

    .input-nav {
        @apply text-[#f6f2ef];
        @apply bg-[#393e36];
        @apply border-none;
        @apply text-xs;
        @apply sharp-grotesk-book;
    }

}

.post-preview:hover h2 {
   text-decoration: underline;
}

.bg-animate {
    background-size: 500%;
    -webkit-animation: animation 600s linear infinite;
    -moz-animation: animation 600s linear infinite;
    animation: animation 180s linear infinite;
}

.blur-animate {
    background-size: 500%;
    -webkit-animation: animationfast 600s linear infinite;
    -moz-animation: animationfast 600s linear infinite;
    animation: animationfast 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
}

.text-blur {
   -webkit-animation: text-blur-animation 12s linear infinite;
   -moz-animation: text-blur-animation 12s linear infinite;
   animation: text-blur-animation 12s linear infinite;
   background-image: url("../media/abstract-light-blue-background-luxury-cloth(1).jpg");
   width: 100%;
   height: 100%;
   display: inline-block;
}

mark {
   overflow:hidden;
}

mark:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://jschoolmeesters.github.io/BlazorPortfolio/media/abstract-light-blue-background-luxury-cloth(1).jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 500%;
  -webkit-animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
  -moz-animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
  animation: bg-pos-animation 180s linear infinite, bg-blur-animation 6s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
}

/* ANIMATION TIMINGS */

@keyframes bg-pos-animation {
    0%,
    100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

@keyframes bg-blur-animation {
    0%,
    100% {
         filter: blur(7px);
    }
    50% {
        filter: blur(4px);
    }
}

@keyframes text-blur-animation {
    0% {
         filter: blur(1px);
    }
    50% {
         filter: blur(0px);
    }
    100% {
         filter: blur(1px);
    }
}

@keyframes wrapper-sat-animation {
    0% {
         filter: saturate(2);
    }
    100% {
         filter: saturate(4);
    }
}

/* FONTS */

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sharp-grotesk-medium {
    font-family: sharpGroteskMedium, sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    font-family: "Sharp Grotesk Book", sans-serif;
}

.sharp-grotesk-medium {
    font-family: "Sharp Grotesk Medium", sans-serif;
}

.sharp-grotesk-medium-italic {
    font-family: "Sharp Grotesk Medium Italic", sans-serif;
}

.sharp-grotesk-book {
    font-family: "Sharp Grotesk Book", sans-serif;
}

@font-face {
    font-family: "Sharp Grotesk Book";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Book22.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Grotesk Medium";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/Medium22.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Grotesk Medium Italic";
    src: url("../fonts/Sharp Grotesk/TTF-Windows/MediumItalic22.ttf");
    font-weight: 500;
    font-style: italic;
}