@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography.css";
@import "markdown.css";


/* START General */

:root {
    --vh: '0px';
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
 
body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p, a, span, * {
    font-family: "ABC Monument Grotesk", sans-serif;
}

/* 
Fix to prevent FocusOnNavigate in App.razor from adding outline to the first h1 on a page
https://www.reddit.com/r/Blazor/comments/xl09d8/blazor_h1_element_is_focused_on_startup_for_no/
*/
h1:focus {
    outline: none;
}

section, footer {
    @apply px-3;
    @apply py-12;
    @apply mb-16;
    @apply bg-white;
    @apply text-black;
}

section.dark, footer.dark {
    @apply bg-black;
    @apply text-white;
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.leading-tighter {
    line-height: 1.05;
}

.h-fullvh {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.min-h-fullvh {
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
}

.mt-1\/4vh {
    margin-top: calc(calc(100vh - 4.75rem) / 4); /* Fallback for browsers that do not support Custom Properties */
    margin-top: calc(calc(calc(var(--vh, 1vh) * 100) - 4.75rem) / 4);
}

/* END General */

/* START MainLayout */

.content { /* TODO  REMOVE */
    position: relative;
    --before-y-percent: 100%;
}

.content::before { /* TODO  REMOVE */
    transform: translateY(var(--before-y-percent));
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    @apply dark:bg-black;
    @apply bg-white;
    z-index: -1;
}

.content-percentage::after { /* TODO REMOVE? */
    content: calc(var(--blazor-load-percentage) * 1);
}

/* END MainLayout */

/* START Index */
/* END Index */

/* START Contact */

input, textarea {
    @apply text-black;
    @apply p-3;
    @apply w-full;
    @apply border;
    @apply border-[rgb(145,145,145)];
    @apply bg-white;
    @apply appearance-none;
}

input::placeholder, textarea::placeholder {
    @apply text-[rgb(145,145,145)];
}

select {
    @apply appearance-none;
}

/* END Contact */

/* START Footer */

.marquee {
    white-space: nowrap;
    display: block;
}

.scroll {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes slide { /* TODO REMOVE? */
    0% {
        transform: translateX(-100%);
    }
    20% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%); /* Hold position at the end */
    }
}

/* END Footer */

/* START Navigation */

.line-animation {
    animation: slide 5s ease-in-out infinite;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.ani-box {
    position: relative;
    --before-y-percent: 0%;
    overflow: hidden;
}

.ani-box::before {
    transform: translateY(var(--before-y-percent));
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    @apply dark:bg-black;
    z-index: 1;
}

/* END Navigation */

/* START Loader */

.linear-progress {
    background: rgb(145,145,145);
    height: 2px;
    overflow: hidden;
    position: relative;
}

.linear-progress:after {
    height: 100%;
    content: '';
    position: absolute;
    inset: 0;
    @apply bg-white;
    scale: var(--blazor-load-percentage, 0%) 100%;
    transform-origin: left top;
    transition: scale ease-out 0.5s;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

/*
.countertest:after {
    content: var(--blazor-load-percentage-text);
}
*/

/* END Loader */









  












/* BEGIN GSAP */

.gsap-lines {
    @apply relative;
    @apply block;
}

.gsap-line {
    @apply overflow-hidden;
}

.gsap-line-inner {
    @apply relative;
    @apply block;
}


/* BEGIN Lenis */

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

/* END Lenis */





/* ANIMATION TIMINGS */

@keyframes bg-pos-animation {
    0%,
    100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

@keyframes bg-blur-animation {
    0%,
    100% {
         filter: blur(7px);
    }
    50% {
        filter: blur(4px);
    }
}

@keyframes text-blur-animation {
    0% {
         filter: blur(1px);
    }
    50% {
         filter: blur(0px);
    }
    100% {
         filter: blur(1px);
    }
}

@keyframes tribal-animation {
    0% {
        filter: brightness(200%);
    }
    50% {
        filter: brightness(150%);
    }
    100% {
        filter: brightness(200%);
    }
}

@keyframes wrapper-sat-animation {
    0% {
         filter: saturate(2);
    }
    100% {
         filter: saturate(4);
    }
}