@page "/contact"
@using System.Text.Json
@using BlazorPortfolio.Models;
@using System.Globalization
@using BlazorPortfolio.Components;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<PageTitle>Jordy Schoolmeesters — Computing Science</PageTitle>

<div class="w-full relative">

   <div class="px-3 pt-[4rem] relative"> 

      <div class="">

         <div class="flex flex-col w-full">

            <div class="border-bottom h-[1px] w-full bg-black dark:bg-white"></div>

            <div class="py-3">

               <h1 class="about-first gsap-lines gsap-animate-transition text-4xl tracking-[-0.035em] leading-none">
                  <div class="gsap-line">
                     <div class="gsap-line-inner inferi-normal">
                        Let's work <span class="inferi-normal-italic">together</span>
                     </div>
                  </div>
               </h1>
            </div>

         </div>



         <footer class="py-6 flex flex-col">

            <div class="links gsap-animate-transition relative overflow-hidden">
               <BlazorPortfolio.Components.Links />
            </div>

         </footer>
      </div>
   </div>
</div>

@code {
   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      if (firstRender) {
        await JS.InvokeVoidAsync("pageLoaded");
        await JS.InvokeVoidAsync("pageFadeIn");
      }

      await base.OnAfterRenderAsync(firstRender);
   }
}