@page "/contact"
@using System.Text.Json
@using BlazorPortfolio.Models;
@using System.Globalization
@using BlazorPortfolio.Components;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<PageTitle>Jordy Schoolmeesters — Computing Science</PageTitle>

<div class="w-full relative">

   <div class="px-3 pt-[4rem] relative"> 

      <div class="">

         <div class="flex flex-col w-full">

            <div class="border-bottom h-[1px] w-full bg-black dark:bg-white"></div>

            <div class="py-3">

               <h1 class="about-first gsap-lines gsap-animate-transition text-2xl tracking-[-0.035em] leading-none">
                  <div class="gsap-line">
                     <div class="gsap-line-inner">
                        Let's work <span class="inferi-normal-italic">together</span>, here's what I
                     </div>
                  </div>
                  <div class="gsap-line">
                     <div class="gsap-line-inner">
                        can help you with
                     </div>
                  </div>
               </h1>
            </div>
            @*<div class="border-bottom gsap-animate-transition h-[1px] w-full bg-black dark:bg-white"></div>*@

            <div class="gsap-line">
                  <h2 class="gsap-line-inner text-sm p-0 m-0 mt-6 mb-3 text-[rgb(145,145,145)]">Webdesign</h2>
            </div>

            <Accordion Title="Wordpress">
               <p>A modern website using the world's #1 system for managing your content.</p>
               <ul class="pl-5">
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-white">Fastest delivery time</li>
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-white">Easy content management</li>
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-white">Long term stable</li>
               </ul>
            </Accordion>

            <Accordion Title="Bespoke">
               <p>A handcrafted website using only the latest technologies to create an ultra fast and responsive and new home your brand without any compromises.</p>
               <ul class="pl-5">
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-white">Highly personalized and detailed design</li>
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-white">Easy content management</li>
               </ul>
            </Accordion>

            <Accordion Title="Technical support">
               <p>Got technical issues with your current website?</p>
               <p>We've got you covered, with years of experience working with many different technologies there's no problem we can't fix.</p>
            </Accordion>
         </div>

         <div class="gsap-line">
               <h2 class="gsap-line-inner text-sm p-0 m-0 mt-6 mb-3 text-[rgb(145,145,145)]">Audio</h2>
         </div>

         <Accordion Title="Podcast editing">
            <p>Custom copyright-free electronic music for any project or vibe.</p>
         </Accordion>

         <Accordion Title="Sync music">
            <p>Custom copyright-free electronic music for any project or vibe.</p>
         </Accordion>

         <footer class="py-6 flex flex-col">

            <div class="links gsap-animate-transition relative overflow-hidden">
               <BlazorPortfolio.Components.Links />
            </div>

         </footer>
      </div>
   </div>
</div>

@code {
   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      if (firstRender) {
        await JS.InvokeVoidAsync("pageLoaded");
        await JS.InvokeVoidAsync("pageFadeIn");
      }

      await base.OnAfterRenderAsync(firstRender);
   }
}