@page "/contact"
@using System.Text.Json
@using BlazorPortfolio.Models;
@using System.Globalization
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<PageTitle>Jordy Schoolmeesters — Computing Science</PageTitle>

<div class="index gsap-animate-transition w-full relative">

   <div class="px-3 pt-[4rem] relative"> 

      <div class="">

         <div class="flex flex-col w-full">

            <div class="border-bottom h-[1px] w-full bg-black dark:bg-white"></div>

            <div class="py-3">

               <h1 class="about-first gsap-lines gsap-animate-transition text-2xl tracking-[-0.035em] leading-none">
                  <div class="gsap-line">
                     <div class="gsap-line-inner">
                        Let's work <span class="inferi-normal-italic">together</span>, what can
                     </div>
                  </div>
                  <div class="gsap-line">
                     <div class="gsap-line-inner">
                        I help you with?
                     </div>
                  </div>
               </h1>
            </div>
            @*<div class="border-bottom gsap-animate-transition h-[1px] w-full bg-black dark:bg-white"></div>*@

            <div class="gsap-line">
                  <h2 class="gsap-line-inner text-sm p-0 m-0 mt-6 mb-3 text-[rgb(145,145,145)]">Webdesign</h2>
            </div>

            <div class="grid grid-cols-2 gap-2">
                <div class="border h-24 flex items-center justify-center bg-[rgb(25,25,25)] border-none">
                    <span class="underline underline-offset-4 decoration-2 decoration-[rgb(100,100,100)] inline-block text-2xl align-middle leading-tight inferi-normal text-center break-words">Wordpress</span>
                </div>
                <div class="border h-24 flex items-center justify-center bg-[rgb(25,25,25)] border-none">
                    <span class="underline underline-offset-4 decoration-2 decoration-[rgb(100,100,100)] inline-block text-2xl align-middle leading-tight inferi-normal text-center break-words">Bespoke</span>
                </div>
                <div class="border h-24 flex items-center justify-center bg-[rgb(25,25,25)] border-none">
                    <span class="underline underline-offset-4 decoration-2 decoration-[rgb(100,100,100)] inline-block text-2xl align-middle leading-tight inferi-normal text-center break-words">Webflow</span>
                </div>
                <div class="border h-24 flex items-center justify-center bg-[rgb(25,25,25)] border-none">
                    <span class="underline underline-offset-4 decoration-2 decoration-[rgb(100,100,100)] inline-block text-2xl align-middle leading-tight inferi-normal text-center break-words">Consultancy</span>
                </div>
            </div>

            <div class="gsap-line">
                  <h2 class="gsap-line-inner text-sm p-0 m-0 mt-6 mb-3 text-[rgb(145,145,145)]">Audio</h2>
            </div>

            <div class="grid grid-cols-2 gap-2">
                <div class="border h-24 flex items-center justify-center bg-[rgb(25,25,25)] border-none">
                    <span class="underline underline-offset-4 decoration-2 decoration-[rgb(100,100,100)] inline-block text-2xl leading-none align-middle inferi-normal">Mixing</span>
                </div>
                <div class="border h-24 flex items-center justify-center bg-[rgb(25,25,25)] border-none">
                    <span class="underline underline-offset-4 decoration-2 decoration-[rgb(100,100,100)] inline-block text-2xl leading-none align-middle inferi-normal">Production</span>
                </div>
            </div>
         </div>

         <div class="mt-6 h-[30vh] w-full"><img class="object-cover object-center w-full h-full" src="@("/media/ice.jpg")"/></div>

         <footer class="py-6 flex flex-col">

            <div class="links gsap-animate-transition relative overflow-hidden">
               <BlazorPortfolio.Components.Links />
            </div>

         </footer>
      </div>
   </div>
</div>

@code {
   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      if (firstRender) {
        //await JS.InvokeVoidAsync("pageLoaded");
        await JS.InvokeVoidAsync("pageFadeIn");
      }

      await base.OnAfterRenderAsync(firstRender);
   }
}