@page "/"

<PageTitle>Index</PageTitle>

         <div class="mt-5 g-gray-800 temp w-full mx-3">
           
            <div class="temp flex flex-row rounded h-full">
               <div class="place-self-center basis-full sm:basis-1/2">
                  <div class="w-max m-auto">
                  <span class="text-5xl lg:text-6xl alexandria overflow-visible text-gray-50 font-base">Hi, I'm Jordy.<br></span>
<span class="self-center text-3xl lg:text-4xl text-huge overflow-visible text-gray-50 font-light">Developer, CS student<br>and music producer.<br>
</span>
                     <span class="self-center text-xl lg:text-2xl text-huge overflow-visible text-gray-200 font-thin">Currently working at <a class="hover:underline" href="">Archive-IT</a>.
</span>
                  </div>
               </div>
               <div class="hidden sm:flex flex flex-col justify-center items-center basis-2/4">
                  <img class="" src="https://raw.githubusercontent.com/jschoolmeesters/BlazorPortfolio/master/IMG_7745.jpg"><img/>
               </div>
            </div>
            
         </div>
