@page "/"
@using System.Text.Json
@using BlazorPortfolio.Models;
@using BlazorPortfolio.Components;
@using System.Globalization
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject HttpClient HttpClient;
<PageTitle>Vemo™ | Creatieve Website & Branding Studio in Roermond</PageTitle>

<div class="w-full relative">

   <div class="pt-[4rem] relative"> 

      <div class="">

         @* Hero section *@
         <section class="my-0 py-0 flex flex-col w-full">

            <div class="pb-3">
               <div class="h-[14rem] relative mb-3">
                  <div class="tip1 absolute bottom-24 right-[20%] margin-right-[-30px] left-auto top-auto">
                     <span class="bg-[#e6ff9a] px-1 py-0.5">Bold & Memorable</span>
                  </div>

                  <div class="tip1 absolute bottom-16 left-0 margin-left-[-30px] right-auto top-auto">
                     <span class="bg-[#ffd867] px-1 py-0.5">Roermond, NL</span>
                  </div>

                  <div class="tip1 absolute bottom-8 right-[10%] margin-right-[-30px] left-auto top-auto">
                     <span class="bg-[#eca2f4] px-1 py-0.5">Brand Identity</span>
                  </div>

                  <div class="tip1 absolute bottom-0 right-0 margin-right-[-30px] left-auto top-auto">
                     <span class="bg-[#bdef74] px-1 py-0.5">Creative Webdesign Agency</span>
                  </div>
               </div>


               <h1 class="about-first gsap-lines gsap-animate-transition text-[2.9rem] tracking-[-0.07em] leading-[0.75]">
                  <div class="gsap-line">
                     <div class="gsap-line-inner inferi-normal">
                        Unlock Your <span class="inferi-normal-italic">Digital Potential</span>
                     </div>
                  </div>
               </h1>
            </div>

            <div class="border-bottom h-[1px] w-full bg-black dark:bg-white"></div>
            @*<div class="border-bottom gsap-animate-transition h-[1px] w-full bg-black dark:bg-white"></div>*@

         </section>

         @* Highlighted projects section *@
         <section class="mt-3 py-0 space-y-6">
            <div class="">
               <img src="media/services2.jpg" class="w-full"/>
               <p class="leading-tight mt-3 text-lg"><span class="font-bold underline decoration-1 underline-offset-1">Wander</span> — Lorem ipsum dolor Studio amet.</p>
            </div>

            <div class="">
               <img src="media/services1.jpg" class="w-full"/>
               <p class="leading-tight mt-3 text-lg"><span class="font-bold underline decoration-1 underline-offset-1">Evermore</span> — Lorem ipsum dolor Studio amet.</p>
            </div>

         </section>

         @* About section *@
         <section class="mb-0 py-12 space-y-6">
            <h3 class="text-4xl leading-none inferi-normal tracking-[-0.015em]">
               Wist je dat de meeste webdesign bedrijven kant- en-klaar websites verkopen?
            </h3>
            <h3 class="text-4xl leading-none inferi-normal tracking-[-0.015em]">
               Wij geloven dat jouw bedrijf beter verdient.
            </h3>
            <h3 class="">
               Door nauw samen te werken met onze klanten creëren we websites, branding en strategieën die naadloos aansluiten bij hun identiteit—en, nog belangrijker, perfect inspelen op hun doelgroep.
            </h3>
            <h3 class="">
               Dit is mogelijk dankzij een compact agile team, gespecialiseerd in het maken van opvallende, moderne ontwerpen die de functionaliteit benadrukken en de boodschap van jouw bedrijf duidelijk overbrengen.
            </h3>
            <h3 class="">
               Dus neem geen genoegen met “goed genoeg”, <span class="underline underline-offset-2 decoration-from-font">plan nu een kennismaking in</span>.
            </h3>
         </section>


         @* Services section *@
         <section class="mb-0 flex flex-col w-full">

            @*<h1 class="mb-3 about-first gsap-lines gsap-animate-transition text-4xl tracking-[-0.035em] leading-none">
               <div class="gsap-line">
                  <div class="gsap-line-inner">
                     Services
                  </div>
               </div>
            </h1>*@

            @*<div class="border-bottom h-[1px] w-full bg-black dark:bg-white"></div>*@

            @*
            <div class="gsap-line">
                  <h2 class="gsap-line-inner text-sm p-0 m-0 mb-3 text-[rgb(145,145,145)]">Webdesign</h2>
            </div>
            *@

            <Accordion Title="Websites" StartExpanded="true">
               <img src="media/services2.jpg" class="w-full"/>
               <p>A modern website using the world's #1 system for managing your content.</p>
               <ul class="pl-5">
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-black before:dark:text-white">Fastest delivery time</li>
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-black before:dark:text-white">Easy content management</li>
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-black before:dark:text-white">Long term stable</li>
               </ul>
            </Accordion>

            <Accordion Title="Identity Design" StartExpanded="true">
               <img src="media/services1.jpg" class="w-full"/>
               <p>A handcrafted website using only the latest technologies to create an ultra fast and responsive and new home your brand without any compromises.</p>
               <ul class="pl-5">
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-black before:dark:text-white">Highly personalized and detailed design</li>
                  <li class="relative before:content-['—'] before:absolute before:-left-5 before:text-black before:dark:text-white">Easy content management</li>
               </ul>
            </Accordion>

            <Accordion Title="Technical support">
               <p>Got technical issues with your current website?</p>
               <p>We've got you covered, with years of experience working with many different technologies there's no problem we can't fix.</p>
            </Accordion>

            <div class="gsap-line">
                  <h2 class="gsap-line-inner text-sm p-0 m-0 mt-6 mb-3 text-[rgb(145,145,145)]">Audio</h2>
            </div>

            <Accordion Title="Podcast editing">
               <p>Custom copyright-free electronic music for any project or vibe.</p>
            </Accordion>

            <Accordion Title="Sync music">
               <p>Custom copyright-free electronic music for any project or vibe.</p>
            </Accordion>
         </section>

         
         <section class="dark pt-24 mb-0">
            <h1 class="about-first gsap-lines gsap-animate-transition text-4xl tracking-[-0.035em] leading-none">
               <div class="gsap-line">
                  <div class="gsap-line-inner">
                     Studio Insights
                  </div>
               </div>
            </h1>

            <div class="mt-3 border-bottom h-[1px] w-full bg-white"></div>

            <PostCarousel Posts="Posts" />
         </section>

         <footer class="dark my-0 pb-6 flex flex-col items-start space-y-12">
            
            <div class="">
               <p class="text-[rgb(145,145,145)] text-3xl leading-none tracking-[-0.015em]">
                  Interested in working with us?
               </p>
               <div>
                  <a class="underline text-3xl leading-none tracking-[-0.015em]">Get in touch</a>
                  <span class="text-3xl leading-none tracking-[-0.015em]">&#32;or&#32;</span>
                  <a class="underline text-3xl leading-none tracking-[-0.015em]">check out our company deck</a>
               </div>
            </div>

            <div>
               <div class="gsap-line">
                  <h2 class="gsap-line-inner text-sm p-0 m-0 mt-6 mb-3 text-[rgb(145,145,145)]">Info</h2>
               </div>

               <Links/>
            </div>

            <div class="marquee rotate-12 bottom-24 absolute w-full min-w-full">
               <div class="marquee-content scroll w-full min-w-full">
                  <img class="opacity-10 w-full inline-block" src="media/logo_js.svg" alt="Marquee Logo" />
                  <img class="opacity-10 w-full inline-block" src="media/logo_js.svg" alt="Marquee Logo" />
                  <img class="opacity-10 w-full inline-block" src="media/logo_js.svg" alt="Marquee Logo" />
               </div>
            </div>

            <div class="flex flex-row w-full">
               <ul class="flex-1 w-1/2 gap-y-0">
                     <li><a class="tracking-[-0.035em] leading-none">© 2025 Vemo™</a></li>
               </ul>
               <ul>
                  <li><span class="tracking-[-0.035em] leading-none">kvk 12345678</span></li>
               </ul>
            </div>

         </footer>
      </div>
   </div>
</div>

@code {
   private List<(Models.Post Post, int Index)> Posts { get; set; } = new();

   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      if (firstRender) {
         //await JS.InvokeVoidAsync("pageLoaded");
         while (Posts.Count == 0)
            await Task.Delay(100);

         bool result = await JS.InvokeAsync<bool>("waitForPosts", Posts.Count);

         if (result)
            await JS.InvokeVoidAsync("pageFadeIn");
      }

      await base.OnAfterRenderAsync(firstRender);
   }

   public async Task PostsLoaded() {
      await JS.InvokeVoidAsync("postsLoaded");
   }

   protected override async Task OnInitializedAsync()
   {
      var jsonContent = await HttpClient.GetStringAsync("posts/posts.json");
      var posts = JsonSerializer.Deserialize<List<Models.Post>>(jsonContent);

      if (posts != null)
         Posts = posts.Select((post, i) => ( post, i )).ToList();
   }
}