 <nav>
    <ul class="text-gray-300 flex items-center justify-end text-lg tracking-wider">
       <li class="hidden sm:inline p-3 m-2 font-base">
          Development 
          <i class="inline" data-feather="chevron-down"></i>
       </li>
       <li class="hidden sm:inline p-3 m-2 font-base">
          Sound
          <i class="inline" data-feather="chevron-down"></i>
       </li>
       <li class="md:p-2 px-3 py-2 md:pl-5 md:pr-6 m-2 text-gray-800 bg-gray-50 text-xs tracking-wide font-semibold sm:rounded rounded-full md:rounded-full content-center">
          <i class="inline w-4 md:mr-0.5" data-feather="mail"></i>
          <span class="sm:hidden md:inline">LET'S CHAT</span>
       </li>
       <li class="sm:hidden md:p-2 px-3 py-2 md:pl-5 md:pr-6 m-2 text-gray-50 bg-gray-800 text-xs tracking-wide font-semibold rounded md:rounded-full content-center">
          <i class="inline w-7 md:mr-0.5" data-feather="menu"></i>
       </li>
    </ul>
 </nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
